.results-listing-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 160px));
  justify-content: space-around;
  grid-row-gap: 24px;

  @include display-after(sm) {
    grid-template-columns: repeat(3, minmax(0, 324px));
    grid-row-gap: 40px;
  }

  @include display-after(md) {
    grid-template-columns: repeat(4, minmax(0, 240px));
    grid-row-gap: 0;
  }

  @include display-after(lg) {
    grid-template-columns: repeat(4, minmax(0, 340px));
  }
}

.product-list {
  &__title {
    font-size: 20px;
    color: #8b8b8b;
    padding: 22px 0;
    text-align: center;
    line-height: 26px;
    font-weight: 100;

    @include display-after(sm) {
      font-size: 30px;
      padding: 27px 0;
      line-height: 37px;
    }
  }
}

.product-list-item {
  margin-top: 20px;

  @include display-after(sm) {
    margin-top: 40px;
  }

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
  }

  &__title {
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #8b8b8b;
    padding-top: 20px;

    @include display-after(sm) {
      font-size: 18px;
    }
  }

  &__price {
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #000000;
    padding-top: 9px;

    @include display-after(sm) {
      font-size: 28px;
    }
  }
}
