// Common color variables for application
//
// Variable names must be created to this rules:
// - Required prefix: $--color-
// - Color name must takes from this service: https://chir.ag/projects/name-that-color/
// - Grouped according to value Hue: // White
// - Sorted by hex values from light to dark (can be not exactly)
// - Variable names must be with kebab-case: white-smoke
// - Name duplicates are incremented: white-smoke-2
// - Hex value length must be 6 characters: #e8e8e8
//
// @example: $--color-mercury: #e8e8e8;

// Actual colors (2022)
$--color-black: #000000;
$--color-mine-shaft: #323232;
$--color-dove-gray: #666666;
$--color-dusty-gray: #999999;
$--color-alto: #d9d9d9;
$--color-mercury: #e8e8e8;
$--color-gallery: #f0f0f0;
$--color-white: #ffffff;

$--color-orange-peel: #ff9900;
$--color-copperfield: #dd8b66;
$--color-cream-can: #f7d264;
$--color-rob-roy: #eac262;
$--color-cream-brulee: #fee69c;
$--color-golden-tainoi: #fdce5a;
$--color-banana-mania: #fae8b1;
$--color-half-colonial-white: #fdf4d8;
$--color-golden-peach-60: #f1d592;
$--color-golden-peach-25: #f7e7c0;
$--color-golden-peach-10: #fbf3e0;

$--color-denim: #176de5;
$--color-wedgewood: #5578ae;
$--color-torea-bay: #0f4888;
$--color-blue: #0921ff;
$--color-turquoise-blue: #a9d9e8;
$--color-polar: #d4eef6;
$--color-spindle: #b2d9ea;
$--color-turquoise-blue: #66bae6;
$--color-polar-2: #eaf6fa;
$--color-electric-blue-60: #6b7aff;
$--color-electric-blue-25: #c1c7ff;
$--color-electric-blue-10: #e7e9ff;

$--color-portage: #8f63ee;
$--color-perfume: #c8b3f4;
$--color-moon-raker: #e3d8f9;
$--color-selago: #f1ecfc;
$--color-lavender-gray: #c4b5d2;
$--color-lavender-purple: #8b77aa;
$--color-plum: #933d84;

$--color-milano-red: #bd2d00;
$--color-froly: #f77f6e;
$--color-apricot-peach: #fbbfb6;
$--color-cinderella: #fddfda;
$--color-cranberry: #de5279;
$--color-maroon-flush: #c32361;
$--color-desert-sand: #f0c6b6;
$--color-roman: #e06053;
$--color-cerise-red: #db274e;

$--color-emerald: #30cf60;
$--color-algae-green: #89e1bb;
$--color-cruise: #c4f0dd;
$--color-off-green: #e7f9f1;

$--color-java: #14ccbe;
$--color-morning-glory: #9bded9;
$--color-jagged-ice: #caebe8;
$--color-aqua-squeeze: #e3f2f1;

$--color-sprout: #cbdcba;
$--color-olivine: #96c07e;
$--color-highland: #778c63;
$--color-sinbad: #9fcec8;
$--color-silver-tree: #63b293;
$--color-eastern-blue: #1e879c;

$--color-kobi: #ebb4c9;
$--color-red-violet: #e0119d;
$--color-pink-60: #ec70c4;
$--color-pink-25: #f7c3e6;
$--color-pink-10: #fce8f6;

// VNDK
$--color-silver: #c5c5c5;
$--color-ruby: #c9454d;
$--color-sapphire: #5c85b4;
$--color-ametist: #dfdce9;
$--color-brilliant: #e3dab7;

//SBP
$--color-shakespeare: #4597d1;
$--color-goblin: #3b8247;
$--color-sushi: #87b545;
$--color-ronchi: #efb64b;
$--color-red-damask: #df8538;
$--color-brick-red: #d12e4b;
$--color-affair: #854c91;
$--color-scampi: #5b589d;

// NLP
$--color-pink-lace: #ffe3fe;
$--color-water: #d6f5ff;
$--gradient-nlp: linear-gradient(90deg, $--color-pink-lace 0%, $--color-water 100%);
$--gradient-nlp-premium: radial-gradient(100% 100% at 0% 0%, $--color-red-violet 12.04%, $--color-blue 100%);
$--gradient-nlp-premium-gold: linear-gradient(90deg, #eac062 0%, #fbde7d 44.27%, #eac062 100%);

// vue progress color bar
$--color--vue: #00ff8ca6;

// chanel
$--color-red: #ff0000;
