@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
// $--font-family-site: 'Marck Script';
$--font-family-site: 'Open Sans';

@import './colors.scss';
@import './fonts.scss';
@import './common/mixins.scss';
@import './common/container.scss';
@import './components/slide.scss';
@import './components/button.scss';
@import './components/description.scss';
@import './components/product.scss';

@import './firstSlide.scss';

@import './components/productList.scss';

body {
  font-family: $--font-family-site;

  margin: 0;
}

.lemd-container {
  width: 100%;
  margin: 0 auto;

  @include display-after(sm) {
    max-width: 770px;
  }

  @include display-after(md) {
    max-width: 1080px;
  }

  @include display-after(lg) {
    max-width: 1194px;
  }
}
